@page "/fetchdata"
@using System.Net.Http.Json
@using Mc2.CrudTest.Presentation.Contract

@inject HttpClient _http


<h1>Customers</h1>

@if (customers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>BankAccountNumber</th>
                <th>Mobile</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CreateCustomerModel customer in customers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.DateOfBirth</td>
                    <td>@customer.Email</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.BankAccountNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private CreateCustomerModel[] customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await _http.GetFromJsonAsync<CreateCustomerModel[]>("Customer");
    }

}